# Clés sensibles
.env
*.env

# Bases de données
*.db
*.sqlite
*.sql

# Cache python
__pycache__/
*.pyc

# Environnements virtuels
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

prompts/
shopify_assist/.test/

/frontend/node_modules
/frontend/dist

logs/